<div id="<%= dom_id thing %>">
  <p>
    <strong>Name:</strong>
    <%= thing.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= thing.link %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= thing.img %>
  </p>

</div>
