<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= game.password %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= game.status %>
  </p>

</div>
